services:
  app:
    build: .
    container_name: lifelog-app
    ports:
      - "8080:8080"
    environment:
      - SPRING_DATA_MONGODB_URI=mongodb://mongo:27017/lifelog
      - SPRING_DATA_REDIS_HOST=redis

    depends_on:
      mongo:
        condition: service_healthy
      redis:
        condition: service_healthy

    healthcheck:
      test: [ "CMD-SHELL", "wget -q -O - http://localhost:8080/actuator/health | grep UP || exit 1" ]
      interval: 30s
      timeout: 10s
      retries: 3

  mongo:
    image: mongo:7.0
    container_name: lifelog-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    healthcheck:
      test: [ "CMD", "mongosh", "--eval", "db.adminCommand('ping')" ]
      interval: 5s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7.2-alpine
    container_name: lifelog-redis
    ports:
      - "6379:6379"
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  mongo_data:
