server:
  port: 8080

spring:
  application:
    name: LifeLog
  data:
    mongodb:
      uri: ${SPRING_DATA_MONGODB_URI:mongodb://mongo:27017/lifelog}
    redis:
      host: redis
      port: 6379
  security:
    user:
      name: admin
      password: password

  fhir:
    server:
      base-path: /fhir/*

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always
